* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #f4f4f4;
    max-width: 100vw;
    /*overflow-x: hidden;*/
    height: 100%;
}

#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: center;
    background: #005f73;
    color: white;
    background-image: url('../images/bannerimage4.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 140px;
    width: 100%;
    text-align: center;
}

nav {
    background: #005f73;
    /*width: 100%;*/
    padding: 0.75rem;
    
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;
}

/*
nav li {
    display: inline-block;
    width: 8em;
}
*/


nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background 0.3s;
}

nav a:hover {
    /*color:  #0a9396;*/
    font-weight: bold;
    background-color: #0a9396;
    /*background-color: #94d2bd;
    color: #001219;*/
}

div#content {
    display: flex;
    flex-direction: row;
}

/*
div#content section {
    width: 80vw;
    display: inherit;
    flex-direction: row;
}
*/



.mainContainer {
    width: 80vw;
    display: flex;
    /*flex-direction: column;*/
    /*flex: 1;*/
    /*flex-direction: row;*/
    align-items: stretch;
    /*overflow: hidden;*/
    box-sizing: border-box;
    /*padding: 1rem;
    gap: 1rem;*/
}

main#shipGrid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 1rem;
    gap: 1rem;
    box-sizing: border-box;
}

.ship-card {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.no-ships {
    grid-column: 1/-1;
    text-align: center;
    color: #888;
}

div#content aside {
    flex: 0 0 20vw;
    /*flex: 1;*/
    /*align-items: stretch;*/
}

aside {
    /*width: 275px;*/
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: #e0f7fa;
    padding: 1rem;
    border: 2px solid #000;
    border-radius: 8px;
    height: fit-content;
    box-sizing: border-box;
}


select {
    padding: 0.5rem;
    font-size: 1em;
    margin: 0.5em 0;
}

footer {
    background-color: #005f73;;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    font-size: 0.75rem;
    color: #fff;
    margin-top: auto;
}

footer p {
    /*color: #fff;*/
    margin: 0;
}


@media (max-width: 790px) {
    div#content {
        flex-direction: column-reverse;
    }
    
    .mainContainer {
        width: 100vw;
        /*padding-right: 1rem;*/
        /*margin: 1rem;*/
        /*flex-direction: column;*/
    }
    
    aside {
        flex: 0 0 100vw;
        /*width: 100vw;*/
        /*border-left: none;
        border: 2px solid #000;*/
        margin: 1rem;
        margin-bottom: 0;
        max-height: 5.75rem;
    }
}

@media (max-width: 548px) {
    .mainContainer {
        padding-right: 1rem;
    }
}